<html>
    <head>
        <style>
    body {
      background-color: #FF9EE0;
    }
    caption, table, th, td {
      border: 1px solid black;
      
    }
    a:link {
      color: #AF4270;
    }
    a:hover {
      color: #56FF4D;
    }
    ul li img {
        width, height: 10%;
    }
  </style>
    </head>
    <body>
        <ol>
  <li>One</li>
  <li>Two</li>
  <li>Three</li>
</ol>
<table>
  <caption>Vendors</caption>
  <tr>
    <td>Blue Gauntlet</td>
    <td>Absolute Fencing Gear</td>
    <td>Allstar</td>
    <td>Uhlmann</td>
    <td>Negrini</td>
  </tr>
</table><br />
<table>
  <caption>Weapons</caption>
  <tr>
    <td>Sabers</td>
    <td>Foils</td>
    <td>Epees</td>
  </tr>
</table>
<br />
<ul>
  <li><a href="page2.html">Page 2</a></li>
  <li><img src="../../assets/images/DelSolImg.jpg"></img></li>
</ul>
</body>
</html>